<div class="container" style="background-color:white">
  <div class="about-me mt-5">
    <h1 class="pt-3">ABOUT ME</h1>
    <div class="summary">
      <div class="font-weight-bold">Summary</div>
      <div>
        Hi! My name is <b>Vo Duc Dan</b>. I am a <b>Web Developer</b>, and I'm very passionate and dedicated to my
        work.I'm a
        hark-working person and always try my best in order to enhance more experience. I have knowledge necessary to
        make your project a success. I enjoy every step of the design process, from discussion and collaboration to
        concept and execution, but I find the most satisfaction in seeing the finished product do everything for you
        that it was created to do.
      </div>
    </div>
    <div class="info mt-3">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Full Name</td>
            <td>Vo Duc Dan</td>
          </tr>
          <tr>
            <td>Birthday</td>
            <td>13/01/1999</td>
          </tr>
          <tr>
            <td>City</td>
            <td>Ho Chi Minh</td>
          </tr>
          <tr>
            <td>Phone</td>
            <td>0972184325</td>
          </tr>
          <tr>
            <td>Gmail</td>
            <td>voducdand99@gmail.com</td>
          </tr>
          <tr>
            <td>Study</td>
            <td>University Of Science</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="group mt-4">
    <h1>GROUP 20B08</h1>
    <div class="member">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NQ Bình</td>
            <td>1712294</td>
            <td>Member</td>
          </tr>
          <tr>
            <td>VĐ Dân</td>
            <td>1712317</td>
            <td>Member</td>
          </tr>
          <tr>
            <td>BT Lân</td>
            <td>1712553</td>
            <td>Leader</td>
          </tr>
          <tr>
            <td>BLT Toàn</td>
            <td>1712820</td>
            <td>Member</td>
          </tr>
          <tr>
            <td>TH Trung</td>
            <td>1712849</td>
            <td>Reporter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>